.chat-main
  .chat-main__group-info
    .group-infolist
      .group-infolist__item1  
        = @group.name
      .group-infolist__item2
        Member：
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "group-info-edit" do
      .span
      Edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__text
        = f.text_field :content, class:'form__text--textarea' , placeholder: 'type a message'
        = f.label :image, class: 'form__text--icon' do
          = icon('far', 'image' , class: 'form__text--icon--label')
          = f.file_field :image, class: 'form__text--icon--Hidden'
      = f.submit 'Send',class: 'form-submit'